flows_senserpi.json
[{"id":"f3884f33.dd1ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1a01390b.712907","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"80b4bfeb.ad42f","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"ec34d592.654bf8","type":"ui_tab","z":"","name":"TPH SenseHAT","icon":"dashboard"},{"id":"9a9beed4.3d214","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#12cd39","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#12cd39","edited":true},"page-titlebar-backgroundColor":{"value":"#12cd39","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#3dee62","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#12cd39","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"TPH SenseHAT","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"YYYY-MM-DD","sizes":{"sx":40,"sy":40,"gx":3,"gy":3,"cx":3,"cy":3,"px":3,"py":3}}},{"id":"d72a13d7.655d2","type":"ui_group","z":"","name":"Instant Values","tab":"ec34d592.654bf8","order":2,"disp":true,"width":"6","collapse":false},{"id":"5ebbb8bd.7a1f18","type":"ui_group","z":"","name":"Chart","tab":"ec34d592.654bf8","order":3,"disp":true,"width":"6","collapse":false},{"id":"57a35055.ee446","type":"ui_group","z":"","name":"charts","tab":"733f6126.edb7b","order":3,"disp":true,"width":"6","collapse":false},{"id":"733f6126.edb7b","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"c80d21cd.ac95a","type":"ui_group","z":"","name":"Date & Time","tab":"733f6126.edb7b","order":1,"disp":true,"width":"6","collapse":false},{"id":"fcbceae4.88c638","type":"ui_group","z":"","name":"Instant Values","tab":"733f6126.edb7b","order":2,"disp":true,"width":"6","collapse":false},{"id":"e8287af5.14fb78","type":"rpi-sensehat in","z":"1a01390b.712907","name":"TPH","motion":false,"env":true,"stick":false,"x":210,"y":360,"wires":[["a6867bf9.811fd8"]],"outputLabels":["msg.payload"]},{"id":"89ce1444.ae0998","type":"function","z":"1a01390b.712907","name":"T extraction","func":"var o = msg.payload\nmsg.payload = o.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":473.5555610656738,"y":356.7777729034424,"wires":[["1567b526.f2a34b","3c1c82f2.b8b1fe"]]},{"id":"3c1c82f2.b8b1fe","type":"ui_gauge","z":"1a01390b.712907","name":"Temperature","group":"d72a13d7.655d2","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":671.5555610656738,"y":337.7777729034424,"wires":[]},{"id":"18389150.4b6b7f","type":"function","z":"1a01390b.712907","name":"P extraction","func":"var o = msg.payload\nmsg.payload = o.pressure;\nreturn msg;","outputs":1,"noerr":0,"x":473.0555610656738,"y":436.7777729034424,"wires":[["113a0e66.5ad952","fa06590c.fa5008"]]},{"id":"113a0e66.5ad952","type":"ui_gauge","z":"1a01390b.712907","name":"Pressure","group":"d72a13d7.655d2","order":0,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"Pa","format":"{{value}}","min":"800","max":"1100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":663.0555610656738,"y":417.7777729034424,"wires":[]},{"id":"f61bfdd5.2e94b","type":"function","z":"1a01390b.712907","name":"H extraction","func":"var o = msg.payload\nmsg.payload = o.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":475.0555610656738,"y":511.7777729034424,"wires":[["a3b0087e.9fcf78","5bfd2918.e6b6b8"]]},{"id":"a3b0087e.9fcf78","type":"ui_gauge","z":"1a01390b.712907","name":"Humidity","group":"d72a13d7.655d2","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":662.0555610656738,"y":494.7777729034424,"wires":[]},{"id":"1567b526.f2a34b","type":"ui_chart","z":"1a01390b.712907","name":"Temperature","group":"5ebbb8bd.7a1f18","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"°C","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"1440","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62324","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":672.5555610656738,"y":377.7777729034424,"wires":[[],[]]},{"id":"fa06590c.fa5008","type":"ui_chart","z":"1a01390b.712907","name":"Pressure","group":"5ebbb8bd.7a1f18","order":0,"width":0,"height":0,"label":"Pressure","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"Pa","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"1440","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62324","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":662.0555610656738,"y":455.7777729034424,"wires":[[],[]]},{"id":"5bfd2918.e6b6b8","type":"ui_chart","z":"1a01390b.712907","name":"Humidity","group":"5ebbb8bd.7a1f18","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"%","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"1440","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62324","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":662.0555610656738,"y":533.7777729034424,"wires":[[],[]]},{"id":"a6867bf9.811fd8","type":"delay","z":"1a01390b.712907","name":"Delayed_TPH","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":291.1239433288574,"y":436.7777614593506,"wires":[["89ce1444.ae0998","18389150.4b6b7f","f61bfdd5.2e94b","12b9b01c.b565a"]],"inputLabels":["msg.payload"],"outputLabels":["Delayed_TPH"]},{"id":"428d9e76.d0e69","type":"ui_text","z":"1a01390b.712907","group":"c80d21cd.ac95a","order":1,"width":0,"height":0,"name":"","label":"actual date & time","format":"{{msg.payload}}","layout":"col-center","x":690,"y":180,"wires":[]},{"id":"8defd61e.9590b8","type":"inject","z":"1a01390b.712907","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":250.66662788391113,"y":222.9999942779541,"wires":[["690295b9.eacd1c","6d826235.d3bddc"]]},{"id":"690295b9.eacd1c","type":"exec","z":"1a01390b.712907","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"CPU temperature","x":450,"y":260,"wires":[["f94db445.f822c8"],[],[]],"inputLabels":["Delayed_TPH"]},{"id":"f94db445.f822c8","type":"function","z":"1a01390b.712907","name":"CPU_temp","func":"str = msg.payload\nmsg.payload = str.substring(5, 9);\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":260,"wires":[[]]},{"id":"af424186.fb16","type":"file","z":"1a01390b.712907","name":"Write_measurements","filename":"/home/pi/Documents/TPH_payload","appendNewline":true,"createDir":false,"overwriteFile":"false","x":682.0555610656738,"y":577.7777729034424,"wires":[[]]},{"id":"12b9b01c.b565a","type":"function","z":"1a01390b.712907","name":"Format Spreadsheet line","func":"var o = msg.payload\nmsg.sString = o.temperature + o.pressure + o.humidity;\nmsg.sTemp = o.temperature ;\nreturn msg;","outputs":2,"noerr":0,"x":390.0555610656738,"y":583.7777729034424,"wires":[["af424186.fb16"],[]],"inputLabels":["msg.payload"],"outputLabels":["sTemp","sString"]},{"id":"6d826235.d3bddc","type":"moment","z":"1a01390b.712907","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/Zurich","adjAmount":0,"adjType":"hours","adjDir":"add","format":"YYYY-MM-DD hh:mm:ss","locale":"de_CH","output":"payload","outputType":"msg","outTz":"Europe/Zurich","x":460,"y":180,"wires":[["428d9e76.d0e69"]]},{"id":"10ff756d.08089b","type":"exec","z":"80b4bfeb.ad42f","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Temp","x":470,"y":160,"wires":[["3ce56ed8.ea66b2"],[],[]]},{"id":"91081a63.3bbff8","type":"inject","z":"80b4bfeb.ad42f","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":"","x":273,"y":222,"wires":[["cf14636.ca53ca","10ff756d.08089b","ce6d72df.a0ff7"]]},{"id":"3ce56ed8.ea66b2","type":"function","z":"80b4bfeb.ad42f","name":"SubString","func":"str = msg.payload \nmsg.payload  = str.substring(5, 9);\nreturn msg;","outputs":1,"noerr":0,"x":608,"y":147,"wires":[["1fd9b2f2.515a5d","9b9b68ae.2b44f8"]]},{"id":"1fd9b2f2.515a5d","type":"ui_gauge","z":"80b4bfeb.ad42f","name":"T CPU","group":"fcbceae4.88c638","order":2,"width":"6","height":"5","gtype":"gage","title":"CPU Temp.","label":"°C","format":"{{value}}","min":0,"max":"90","colors":["#00b500","#b6e203","#ca3838"],"seg1":"","seg2":"","x":750,"y":120,"wires":[]},{"id":"cf14636.ca53ca","type":"exec","z":"80b4bfeb.ad42f","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"LOAD","x":468,"y":221.5,"wires":[["6f7cd6fe.153878","29348e.c2884b72","ce4f527.9047cb"],[],[]]},{"id":"6f7cd6fe.153878","type":"ui_gauge","z":"80b4bfeb.ad42f","name":"CPU LOAD","group":"fcbceae4.88c638","order":1,"width":"6","height":"6","gtype":"gage","title":"CPU LOAD","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":734,"y":207,"wires":[]},{"id":"ce6d72df.a0ff7","type":"exec","z":"80b4bfeb.ad42f","command":"free | grep Mem | awk '{print 100*($4+$6+$7)/$2}'","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"MEM","x":471,"y":290,"wires":[["e3dfeaf1.51f108","bc198b30.eed7a8","b67a1292.07f88"],[],[]]},{"id":"e3dfeaf1.51f108","type":"ui_text","z":"80b4bfeb.ad42f","group":"c80d21cd.ac95a","order":4,"width":"6","height":"1","name":"","label":"Free Memory :","format":"{{msg.payload}}%","layout":"row-center","x":720,"y":440,"wires":[]},{"id":"bc198b30.eed7a8","type":"ui_gauge","z":"80b4bfeb.ad42f","name":"RAM","group":"fcbceae4.88c638","order":3,"width":0,"height":0,"gtype":"gage","title":"RAM","label":"%","format":"{{value}}","min":0,"max":"200","colors":["#b50000","#e6e600","#38ca48"],"seg1":"","seg2":"","x":750,"y":320,"wires":[]},{"id":"b67a1292.07f88","type":"ui_chart","z":"80b4bfeb.ad42f","name":"RAM","group":"57a35055.ee446","order":3,"width":0,"height":0,"label":"RAM","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"8640","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#1cdf1c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":750,"y":380,"wires":[[],[]]},{"id":"29348e.c2884b72","type":"ui_chart","z":"80b4bfeb.ad42f","name":"CPU load","group":"57a35055.ee446","order":1,"width":0,"height":0,"label":"CPU load","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"8640","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":900,"y":260,"wires":[[],[]]},{"id":"9b9b68ae.2b44f8","type":"ui_chart","z":"80b4bfeb.ad42f","name":"CPU Temperature","group":"57a35055.ee446","order":2,"width":0,"height":0,"label":"CPU Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"8640","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":940,"y":180,"wires":[[],[]]},{"id":"1aabe329.13715d","type":"ui_numeric","z":"f3884f33.dd1ca8","name":"Duty cycle","label":"Duty cycle [%]","group":"c80d21cd.ac95a","order":0,"width":0,"height":0,"passthru":true,"topic":"Duty cycle","format":"{{value}}","min":0,"max":"255","step":1,"x":230,"y":140,"wires":[["b7ea722d.3c56"]]},{"id":"9f46a66e.1ef3c8","type":"ui_numeric","z":"f3884f33.dd1ca8","name":"ss","label":"seconds","group":"c80d21cd.ac95a","order":0,"width":0,"height":0,"passthru":true,"topic":"ss","format":"{{value}}","min":0,"max":"59","step":1,"x":190,"y":260,"wires":[["36ceb8ff.994558"]]},{"id":"36ceb8ff.994558","type":"function","z":"f3884f33.dd1ca8","name":"add and output seconds","func":"// store pid/temperature in flow context\n//flow.set([\"ss\", \"mm\", \"hh\"], [123, \"red\", \"12.5\"]);\nif (msg.hasOwnProperty(\"ss\")) {\n    flow.set('ss', msg.ss);\n} else if (msg.hasOwnProperty(\"mm\")) {\n   flow.set('mm', msg.mm);\n} else if (msg.hasOwnProperty(\"hh\")) {\n   flow.set('hh', msg.hh);\n}\n\n//msg.payload = msg.ss + msg.mm*60 + msg.hh*3600;\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":320,"wires":[["c743f202.3fb8e"]]},{"id":"ee8efac.ca2fe08","type":"ui_numeric","z":"f3884f33.dd1ca8","name":"minutes","label":"minutes","group":"c80d21cd.ac95a","order":0,"width":0,"height":0,"passthru":true,"topic":"mm","format":"{{value}}","min":0,"max":"59","step":1,"x":200,"y":320,"wires":[["36ceb8ff.994558"]]},{"id":"9af3f131.79b4d","type":"ui_numeric","z":"f3884f33.dd1ca8","name":"hours","label":"hours","group":"c80d21cd.ac95a","order":0,"width":0,"height":0,"passthru":true,"topic":"hh","format":"{{value}}","min":0,"max":"24","step":1,"x":210,"y":380,"wires":[["36ceb8ff.994558"]]},{"id":"2819da0e.9a6316","type":"debug","z":"f3884f33.dd1ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":500,"wires":[]},{"id":"36fa3855.1fe648","type":"ui_gauge","z":"f3884f33.dd1ca8","name":"total time","group":"c80d21cd.ac95a","order":0,"width":0,"height":0,"gtype":"gage","title":"total time","label":"s","format":"{{value}}","min":0,"max":"8600","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":380,"wires":[]},{"id":"c743f202.3fb8e","type":"function","z":"f3884f33.dd1ca8","name":"calculate total time","func":"// get the latest values of pid/temperature from context - default to 0 if not yet set\n//var values = flow.get([\"ss\", \"mm\", \"hh\"]);\nvar ss = flow.get('ss') || 0;\nvar mm = flow.get('mm') || 0;\nvar hh = flow.get('hh') || 0;\nmsg.payload = ss+mm+hh;\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":460,"wires":[["36fa3855.1fe648"]]},{"id":"b7ea722d.3c56","type":"rpi-gpio out","z":"f3884f33.dd1ca8","name":"LED","pin":"33","set":"","level":"0","freq":"64","out":"pwm","x":450,"y":140,"wires":[]},{"id":"ce4f527.9047cb","type":"debug","z":"80b4bfeb.ad42f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":280,"wires":[]},{"id":"af2694de.4d2ee8","type":"rpi-sensehat out","z":"f3884f33.dd1ca8","name":"","x":650,"y":580,"wires":[]},{"id":"da14d968.351b98","type":"function","z":"f3884f33.dd1ca8","name":"Simple graphical clock","func":"\n// array to hold \"random\" pixels\nvar ranNums = [];\n\n// create a non-overlapping array of random numbers 0-8\nfunction rerand() {\n    var nums = [0,1,2,3,4,5,6,7,8];\n    var i = nums.length;\n    var j;\n    ranNums = [];\n    while (i--) {\n        j = Math.floor(Math.random() * (i+1));\n        ranNums.push(nums[j]);\n        nums.splice(j,1);\n    }\n}\n\n// Get the hours and minutes and split into tens and units\nvar d = new Date();\nvar s = d.getSeconds();\nvar su = s%4;\nif (su === 0) {\n    var h = d.getHours();\n    var m = d.getMinutes();\n    var hu = h%10;\n    h = parseInt(h/10);\n    var mu = m%10;\n    m = parseInt(m/10);\n    \n    // Do the tens of hours (red)\n    rerand();\n    node.send({payload:\"1-3,1-3,0,0,0\"});\n    for (var i=0; i<h; i++) {\n        node.send({payload:(1+ranNums[i]%3)+\",\"+(1+parseInt(ranNums[i]/3))+\",255,0,0\"});\n    }\n    \n    // Do the units of hours (green)\n    rerand();\n    node.send({payload:\"4-6,1-3,0,0,0\"});\n    for (var i=0; i<hu; i++) {\n        node.send({payload:(4+ranNums[i]%3)+\",\"+(1+parseInt(ranNums[i]/3))+\",0,255,0\"});\n    }\n    \n    // Do the tens of minutes (yellow)\n    rerand();\n    node.send({payload:\"1-3,4-6,0,0,0\"});\n    for (var i=0; i<m; i++) {\n        node.send({payload:(1+ranNums[i]%3)+\",\"+(4+parseInt(ranNums[i]/3))+\",255,255,0\"});\n    }\n    \n    // Do the unit of minutes (blue)\n    rerand();\n    node.send({payload:\"4-6,4-6,0,0,0\"});\n    for (var i=0; i<mu; i++) {\n        node.send({payload:(4+ranNums[i]%3)+\",\"+(4+parseInt(ranNums[i]/3))+\",0,0,255\"});\n    }\n    \n}\nnode.send({payload:\"0,0,\"+(su===0?\"purple\":\"off\")+\",7,0,\"+(su===1?\"purple\":\"off\")+\",7,7,\"+(su===2?\"purple\":\"off\")+\",0,7,\"+(su===3?\"purple\":\"off\")})\n\n\n// nothing left to do\nreturn null;","outputs":1,"noerr":0,"x":440,"y":580,"wires":[["af2694de.4d2ee8","2819da0e.9a6316"]]},{"id":"594d1624.8acf48","type":"comment","z":"f3884f33.dd1ca8","name":"Simple graphical clock for Sense Hat","info":"Generates a graphical clock, showing hours and minutes. \n\nHours are shown by the red and green pixels, minutes\nare the yellow and blue pixels.\n\nUses the local time of the Pi - you may need to set your local\ntimezone using\n\n    sudo dpkg-reconfigure tzdata\n","x":330,"y":540,"wires":[]},{"id":"e122c6ad.873538","type":"inject","z":"f3884f33.dd1ca8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":240,"y":580,"wires":[["da14d968.351b98"]]},{"id":"b4c3abd6.8e9fb8","type":"inject","z":"1a01390b.712907","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":100,"wires":[[]]}]